 /* google font */
 @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

 /* sheard style */
 * {
     padding: 0px;
     margin: 0px;
     font-family: "Azeret Mono";
 }

 .section-title {
     color: #0D1321;
     text-align: center;
     font-size: 32px;
     font-weight: 800;
     margin-bottom: 24px;
 }

 .container {
     max-width: 1140px;
     margin: 0px auto;
 }

 .flex {
     display: flex;
 }

 .description {
     color: rgba(13, 19, 33, 1);
     text-align: center;
     font-size: 16px;
     font-style: normal;
     line-height: 26px;
     opacity: 0.7;
 }

 .card-title {
     color: #0D1321;
     font-size: 24px;
     font-weight: 800;
 }

 /* nav stayle */

 nav {
     height: 130px;
 }

 .nav {
     height: 130px;
     justify-content: space-between;
     align-items: center;
 }

 .nav-btn {
     color: #0D1321;
     font-size: 20px;
     font-weight: 600;
     padding: 17px 24px;
     border-radius: 8px;
     border: 1px solid #0D1321;
     opacity: 0.8;
 }

 /* banner style */
 .banner {
     background-image: url("./assets/Hero-bg.png");
     max-height: fit-content;
     padding: 40px 220px;
 }

 .banner-content {
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .banner-content img {
     height: 240px;

 }

 .contact-btn {
     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     padding: 21px 24px;
     border-radius: 8px;
     background: #0D1321;
     border: none;
     cursor: pointer;
     margin: 32px 0px 0 0;
 }

 .title {
     /* width: 990px; */
     color: #0D1321;
     text-align: center;
     font-size: 48px;
     font-weight: 800;
     margin: 32px 0;
 }

 /* Why Web Development? style */

 .why-web-devlopment {
     margin-top: 75px;
     padding: 80px 95px;
 }

 /* why web devlopment card */

 .web-dev-card-container {
     flex-direction: column;
     gap: 32px;
     margin-top: 48px;
 }

 .dev-card {
     padding: 48px;
     justify-content: space-between;
 }

 .text-content .description {
     text-align: start;
 }

 .text-content {
     width: 470px;
 }

 .dev-card-title {
     color: rgba(13, 19, 33, 0.70);
     font-size: 24px;
     font-weight: 700;
     line-height: 36px;
     margin-bottom: 16px;
 }

 .dev-card-btn {
     padding: 12px 20px;
     border: 1px solid #0D1321;
     opacity: 0.7;
     background: none;
     margin-top: 32px;
     cursor: pointer;
 }


 /* my-inspiretio */
 .my-inspiretio {
     margin-top: 90px;
 }


 .video {
     margin-top: 50px;
     padding: 32px;
     border-radius: 16px;
     border: 1px solid rgba(13, 19, 33, 0.20);
 }


 /* My Current Target */
 .current-tsrget {
     margin: 150px auto 110px;
 }

 .current-target-card-container {
     gap: 24px;
     margin: 48px;
 }

 .current-target-card {
     display: flex;
     width: 364px;
     padding: 40px;
     flex-direction: column;
     border-radius: 16px;
     background: rgba(255, 223, 0, 0.05);
 }

 .current-target-card img {
     width: 56px;
     height: 56px;
 }

 .current-target-card .card-title {
     margin: 42px 0 8px;
 }

 .current-target-card .description {
     text-align: left;
     margin-bottom: 30px;
 }

 .current-target-card a {
     color: #0D1321;
     font-size: 16px;
     font-weight: 700;
 }